:root {
    /* https://colorhunt.co/palette/16213e0f3460533483e94560 */
    --bg-color: #16213E;
    --header: #533483;
    --main-text: white;
    --accent1: #0F3460;
    --accent2: #E94560;
}

* {
    /* font-family: "Source Code Pro", "Times New Roman", sans-serif; */
    /* font-family: "Luminari", "Times New Roman", sans-serif; */
    font-family: "Courier", "Times New Roman", sans-serif;
    text-align: center;
    margin: auto;
    border: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--main-text);
    box-sizing: border-box;
}

.header-bar {
    display: flex;
    background: var(--header);
    width: 100%;
    padding: 14px;
    position: fixed;
    top: 0;
    z-index: 9;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 16px;
}

.header-branding,
.header-branding-text,
.header-links-container,
.header-links,
.header-link,
.header-login {
    display: flex;
    flex: 1;
    background: var(--header);
}

.header-branding,
.header-login,
.header-links {
    max-width: fit-content;
}

.header-branding-text {
    font-size: 24px;
}

.header-links {
    justify-content: left;
}

.header-links-spacer {
    flex: 10;
}

.header-link {
    margin-left: 10px;
    margin-right: 10px;
}

.header-link:hover {
    color: #6082B6;
    text-shadow: 0 0 5px var(--accent);
}

.body {
    margin-top: 100px;
    background: var(--bg-color);
    position: relative;
}