{{ define "navbar" }}

<div class="header-bar">
    <div class="header-branding">
        <a class="header-branding-text header-link" href="/">Fulcrum</a>
    </div>
    <div class="header-links-container">
        <div class="header-links">
            <a class="header-link" href="/about">About</a>
            <a class="header-link" href="/contact">Contact</a>
            <a class="header-link" href="/resources">Resources</a>
        </div>
        <div class="header-links-spacer"></div>
    </div>
    <div class="header-login">
        <a class="header-link" href="/login">Login</a>
    </div>
</div>

{{ end }}